{% extends 'base.html' %}
{% block title %} Edit Note{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Edit Note</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control", placeholder="Enter note title") }}
            </div>
            <div class="mb-3">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control", rows=5, placeholder="Enter note content") }}
            </div>
            <div class="mb-3">
                {{ form.category.label(class="form-label") }}
                {{ form.category(class="form-select") }}
            </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mt-4">{{ submit_text }}</button>
        </div>

        </form>
    </div>
</div>
{% endblock %}